---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import getPostsByTag from "@/utils/getPostsByTag";
import { SITE } from "@/config";
import { getLangFromPath, t } from "@/i18n/ui";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  const tags = getUniqueTags(posts);

  return tags.flatMap(({ tag, tagName }) => {
    const tagPosts = getPostsByTag(posts, tag);

    return paginate(tagPosts, {
      params: { tag },
      props: { tagName },
      pageSize: SITE.postPerPage,
    });
  });
}

const { page, tagName } = Astro.props;
const propTag = (Astro.props as { tag?: string }).tag;
const tag = propTag ?? Astro.params.tag;
const lang = getLangFromPath(Astro.url.pathname);
const i18n = t(lang);
---

<Layout title={`${i18n.tags}: ${tagName} | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle={[`${i18n.tags}:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`${i18n.tags} "${tagName}"`}
  >
    <h1 slot="title" transition:name={tag}>{`${i18n.tags}:${tag}`}</h1>
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
